
{% extends "MainPage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<head>
	<style>
		.container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-family: Arial, sans-serif;
		}
		h1 {
			font-size: 36px;
			margin-top: 50px;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
			margin: 50px 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>About Us</h1>
		<p>Welcome to MotorsWorld!</p>
		<p>We are a one-stop destination for all your car-related needs, providing you with the latest information on new and used cars, as well as a platform to buy or sell vehicles. Our team of experienced professionals is dedicated to delivering the best service and support to our customers.</p>
		<p>At our Car Encyclopedia, you'll find comprehensive information on a wide range of vehicles, including specs, features, and photos. Our knowledgeable experts are constantly updating and adding to our database, ensuring that you have access to the latest information on all your favorite vehicles.</p>
		<p>Our Car Sales platform makes it easy to find your next dream car. Whether you're looking for a new or used vehicle, we have an extensive inventory of cars to choose from. With our user-friendly interface, you can quickly find the car you're looking for, compare models, and even arrange for a test drive.</p>
		<p>We believe that buying or selling a car should be an enjoyable and stress-free experience, which is why we are committed to providing our customers with the highest level of service and support. Our goal is to make your car-buying journey as seamless and enjoyable as possible, so you can focus on finding the perfect vehicle for your needs.</p>
		<p>Thank you for choosing our Car Sales and Car Encyclopedia Portal. We look forward to serving you and helping you find your next dream car!</p>
	</div>
</body>


{% endblock content %}