<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <title>Car App</title>
    <style>
        .navbar {
            background-color: #343a40;
        }
        .title {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .subtitle {
            text-align: center;
            margin-bottom: 50px;
        }
        .offer-card {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'MainPage:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Encyclopedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="title">
            <h1>MotorsWorld</h1>
        </div>
        <div class="subtitle">
            <h2>Best place to buy your car</h2>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script>
    var filterBtn = document.getElementById("filter-btn");
    filterBtn.addEventListener("click", function() {
        var brand = document.getElementById("brand-select").value;
        var model = document.getElementById("model-select").value;
        var generation_year = document.getElementById("generation_year-select").value;
        var price_netto = document.getElementById("price_netto-select").value;
        var mileage = document.getElementById("mileage-select").value;
        var is_garaged = document.getElementById("is_garaged-select").value
        var is_damaged = document.getElementById("is_damaged-select").value;
        var is_after_accident = document.getElementById("is_after_accident-select").value;
        var is_electric_seats = document.getElementById("is_electric_seats-select").value;
        var is_cruise_control = document.getElementById("is_cruise_control-select").value;
        var is_usb_port = document.getElementById("is_usb_port-select").value;
        var is_abs = document.getElementById("is_abs-select").value;
        var is_bluetooth = document.getElementById("is_bluetooth-select").value;
        var is_gps = document.getElementById("is_gps-select").value;
        var air_conditioning_type = document.getElementById("air_conditioning_type-select").value;
        var roof_type_id = document.getElementById("roof_type_id-select").value;
        var upholstery_id = document.getElementById("upholstery_id-select").value;
        // Send a GET request to the server with the selected filters
        fetch('/get_cars_by_filter?brand_name=' + brand_name + '&model_name=' + model_name + '&generation_year=' + generation_year + '&price_netto=' + price_netto + '&mileage=' + mileage + '&is_garaged=' + is_garaged + '&is_damaged=' + is_damaged + '&is_after_accident=' + is_after_accident + '&is_electric_seats=' + is_electric_seats + '&is_cruise_control=' + is_cruise_control + '&is_usb_port=' + is_usb_port + '&is_abs=' + is_abs + '&is_bluetooth=' + is_bluetooth + '&is_gps=' + is_gps + '&air_conditioning_type=' + air_conditioning_type + '&roof_type_id=' + roof_type_id + '&upholstery_id=' + upholstery_id)
        .then(function(response) {
        return response.json();
        })
        .then(function(cars) {
        // Use cars to update the page
        var carsRow = document.querySelector(".row");
        carsRow.innerHTML = "";
        cars.forEach(function(car) {
        var newCar = document.createElement('div');
        newCar.className = "col-xl-3 col-lg-6 col-md-6 col-sm-12";
                var card = document.createElement('div');
        card.className = "card";

        var img = document.createElement('img');
        img.src = car.path;
        img.className = "card-img-top img-fluid";
        img.alt = "car image";
        card.appendChild(img);

        var cardBody = document.createElement('div');
        cardBody.className = "card-body";

        var title = document.createElement('h5');
        title.title.className = "card-title";
        title.innerHTML = offer.2 + " " + offer.1 + " " + offer.3;
        cardBody.appendChild(title);
        var text = document.createElement('p');
        text.className = "card-text";
        text.innerHTML = offer.4;
        cardBody.appendChild(text);

        card.appendChild(cardBody);
        newOffer.appendChild(card);

        var offersRow = document.querySelector(".row");
        offersRow.appendChild(newOffer);
});

currentOffset += limit;
})
.catch(function(error) {
console.log(error);
});
});


</script>
</html>
