
{% load static %}
{% block content %}

<div class="container">
    <div style="background-color:#5B5D5D; color:white; display:block; width:1100px;height:1200px; border-radius:50px;" class="row">
        <div style="float:left; margin-top:50px; margin-left:50px; width:150px; " class="col-md-4">
            <select class="form-control" id="brand-select">
                <option value="">Brand</option>
{% for brand in brands %}
                <option value="{{brand.0}}">{{brand.0}}</option>
                {% endfor %}
            </select>
        </div>
        <div  style="float:left; margin-left:5px;margin-top: 50px; width:150px;"class="col-md-4">
            <select class="form-control" id="model-select">
                <option value="">Model</option>
{% for model in models %}
                <option value="{{model}}">{{model.0}}</option>
                {% endfor %}

            </select>
        </div>
<div style="float:left; margin-left:5px; margin-top:50px; width:200px; "class="col-md-4">
    <select class="form-control" id="production-year-select">
        <option value="">Production Year</option>
        {% for year in production_years %}
            <option value="{{year}}">{{year}}</option>
        {% endfor %}
    </select>
</div>
    <div class="row">
        <div style="postition:absolute; z-index:40; float:left; margin-left:170px; margin-top:0px; width:150px;" class="col-md-4">
<label style="color:white;font-weight:700;" for="price-input">Minimal Price</label>
<input type="text" id="min_price-input" name="price-input" />
        </div>

    </div>
    <div class="row">
        <div style="postition:absolute; z-index:40; float:left; margin-left:170px; margin-top:0px; width:150px;" class="col-md-4">
<label style="color:white;font-weight: 700;" for="price-input2">Maximal Price</label>
<input type="text" id="max_price-input" name="price-input2" />
        </div>

    </div>
<div style=" postition:absolute; z-index:40; float:left; margin-left:575px; margin-top:-74px; width:150px;" class="col-md-4">
    <select class="form-control" id="mileage-select">
        <option value="">Mileage</option>
        <option value="10000">0-10000</option>
        <option value="20000">10000-20000</option>
        <option value="30000">20000-30000</option>
        <option value="40000">30000-40000</option>
        <option value="50000">40000-50000</option>
        <option value="60000">50000-60000</option>
        <option value="70000">60000-70000</option>
        <option value="80000">70000-80000</option>
        <option value="90000">80000-90000</option>
        <option value="100000">90000-100000</option>
        <option value="110000">100000+</option>
</select>
</div>
<div style="margin-left:0px;"class="col-md-4">
  <div class="form-group">
    <label style="postion:fixed; z-index:3; margin-left:10px;" for="is_garaged-checkbox">Is Garaged</label>
    <input type="checkbox" class="form-control" id="is_garaged-checkbox">
  </div>
</div>
<div style="margin-top:10px;"class="col-md-4">
  <div class="form-group">
    <label for="is_damaged-checkbox">Is Damaged</label>
    <input type="checkbox" class="form-control" id="is_damaged-checkbox">
  </div>
</div>
<div style="float:left;" class="col-md-4">
  <div class="form-group">
    <label for="is_after_accident-checkbox">Is AfterAccident</label>
    <input type="checkbox" class="form-control" id="is_after_accident-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_electric_seats-checkbox">Is Electric Seats</label>
    <input type="checkbox" class="form-control" id="is_electric_seats-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_cruise_control-checkbox">Is Cruise Control</label>
    <input type="checkbox" class="form-control" id="is_cruise_control-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_usb_port-checkbox">Is USB Port</label>
    <input type="checkbox" class="form-control" id="is_usb_port-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_abs-checkbox">Select ABS</label>
    <input type="checkbox" class="form-control" id="is_abs-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_bluetooth-checkbox">Select Bluetooth</label>
    <input type="checkbox" class="form-control" id="is_bluetooth-checkbox">
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label for="is_gps-checkbox">Select GPS</label>
    <input type="checkbox" class="form-control" id="is_gps-checkbox">
  </div>
</div>

<div class="col-md-4">
    <select style=" margin-top: 30px; position:relative; z-index:100; " class="form-control" id="air_conditioning-select">
        <option value="">Select Air conditioning type</option>
    {% for air in air_conditioning_types %}
        <option value="{{air.0}}">{{air.0}}</option>
    {% endfor %}
</select>
</div>
<div class="col-md-4">
    <select style="margin-top: 10px; position:relative; z-index:100;" class="form-control" id="roof_type-select">
        <option value="">Select Roof Type</option>
    {% for roof in roof_types %}
        <option value="{{roof.0}}">{{roof.0}}</option>
    {% endfor %}
</select>
</div>
<div class="col-md-4">
    <select style=" margin-top: 10px; position:relative; z-index:100; " class="form-control" id="upholstery-select">
        <option value="">Select Upholstery</option>
    {% for upholstery in upholsteries %}
        <option value="{{upholstery.0}}">{{upholstery.0}}</option>
    {% endfor %}
</select>
</div>
<div class="col-md-4">
    <button style=" color:#5B5D5D; font-weight:700; text-align: center; margin-top: 25px; margin-left:465px;position:absolute; z-index:90; width:160px; height:70px; border-radius: 20px; background-color:white;" class="btn btn-primary" id="filter-btn">Filter</button>
</div>
</div>
</div>
<script src="{% static 'js/filter_logic.js' %}"></script>


{% endblock %}
