{% extends 'MainPage/base.html' %}
{% load static %}

{% block content %}
{% include 'MainPage/filter_options.html' %}
<script src="{% static 'js/mainpage.js' %}"></script>

<h1>Recent Offers</h1>
<div class="row recent_offers">
    {% for offer in recent_offers|slice:":20" %}
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <img src="{{ offer.image1 }}" class="card-img-top img-fluid" alt="offer image">
            <div class="card-body">
                <h5 class="card-title">{{offer.2}} {{offer.1}} {{offer.3}}</h5>
                <p class="card-text">{{offer.4}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="text-center mt-5">
    <button class="btn btn-primary" id="load-more-offers-btn">Load More</button>
</div>



{% endblock %}